/* @font-face{font-family: Pixeled; src: url(Pixeled.ttf)}; */
.replay{
    font-family: 'Press Start 2P', cursive;
    color: white;
}
.scoreboard{
    width: 1000Px;
    height: 100Px;
    border: solid rgb(81, 192, 81) 1px;
    color: white;
    display: flex;
    font-family:'Press Start 2P', cursive;
    text-align: center;
}
.score{
    flex-grow: 1;
    border: solid rgb(81, 192, 81) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.live{
    flex-grow: 1;
    border: solid rgb(81, 192, 81) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top:0.5%;
}

.scorejs{
    font-size: 25px;
}
.vieJS{
    background-image: url("assets/heart.png");
    height: 50px;
    width: 50px;
    background-size: 110%;
}
.respawn{
    display: none;
    position: absolute;
    bottom: 10%;
}

.explanation{
    flex-grow: 1;
    border: solid rgb(81, 192, 81) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

.theTexte{
    animation: linear defil 20s infinite ;
}

@keyframes defil {
    0% {transform:translateY(2%);}
    99.99% {transform:translateY(-100%);}
}

.expl{
    overflow: hidden;
    height: 70%;
    width: 60%;
}
.cooldown{
    flex-grow: 1;
    border: solid rgb(81, 192, 81) 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cooldownjs{
    border: rgb(212, 212, 212) solid 5Px;
    height: 30px;
    width: 100px;
    border-radius: 30%;
    overflow: hidden;
}
.cool{
    height: 35px;
    width: 110Px;
    background:linear-gradient(to right, yellow, red);
}
.dieEffect{
    height: 30px;
    width: 48px;
    background-image: url("assets/Die.png");
    position: absolute;
}

.voidEffect{
    height: 30px;
    width: 48px;
    background-image: url("assets/Void.png");
    position: absolute;
}

.line1, .line2, .line3, .line4, .line5{
    display: flex;
}

.aliens1, .aliens2, .aliens3{
    margin: 5px;
}

.aliens2{
    width:150%;

}
.ouai{
    width: 48px;
    display: flex;
    justify-content: center;
}

.aliens1{
    width: 200%;
}

.allyShoot{
    position: absolute;
    background: white;
    height: 15Px;
    width: 3Px;

}
.enemyShoot{
    position: absolute;
    background: white;
    width: 10px;
    background: blue;
}

.prevent{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: red;
    text-align: center;
    color: white;
    position: absolute;
}
.explo{
    background-image: url("assets/DieTank.png");
    position: absolute;
    width: 48PX;
    height: 30PX;
}

.vide{
    height: 250Px;
}
body{
    background:black;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.displayDebut{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: 2;
    color: white;
    font-family:'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.win, .loose{
    position: absolute;
    z-index: 3;
    background: black;
    width: 50%;
    height: 75%;
    top: 10%;
    display: none;
    color: white;
    font-family:'Press Start 2P', cursive;
    border: 1px solid green;
    text-align: center;
}

.youyou{
    font-size: 50px;
}

.sous-texte{
    font-size: 20px;
}

.conD1{
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

.titlezer{
    font-size: 100Px;
}

.conD3{
    width: 100%;
    text-align: center;
    animation: clignote 0.7s infinite linear;
}

@keyframes clignote{
    0%{opacity: 0};
    100%{opacity: 1};
}

.conD2{
    height: 50%;
    width: 100%;
    text-align: center;
}

.ufo{
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 1%;
}


.tank{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.tankp1{
    height: 5px;
    width: 5px;
    background-color: lime;
}

.tankp2{
    height: 10px;
    width: 10px;
    background-color: lime;
}

.tankp3{
    height: 5Px;
    width: 50px;
    background-color: lime;
}

.tankp4{
    height: 20px;
    width: 60px;
    background-color: lime;
}

.alienContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouv_left, .mouv_right{
    height: 200px;

}

.protoCon{
    display: flex;
}

.replay{
    align-self: center;
    text-align: center;
    position: absolute;
    right: 1%;
    padding-top: 10px;
    background: radial-gradient(rgb(25, 100, 25), rgb(95, 255, 95));
    height: 25px;
    width: 120px;
    cursor: pointer;
    border: rgb(218, 212, 212) 3px solid;
    border-radius: 10%;
}